In [110]:
import pandas as pd
import numpy as np
from pymongo import MongoClient
from functools import reduce

In [111]:
collection = MongoClient().billboard.hot100

In [141]:
df = pd.DataFrame([i for i in collection.find()])

In [142]:
df = pd.DataFrame(collection.find()).drop(columns=['_id', '_max_retries', '_timeout', 'name', 'nextDate', 'title'])

In [143]:
alltracks=[]
for row in df.values:
    date = row[0]
    for track in row[1]:
        track['date'] = date
        alltracks.append(track)

In [144]:
df = pd.DataFrame(alltracks)

In [145]:
df = df.groupby(['artist', 'title']).agg({'date':min, 'peakPos':max, 'weeks':max}, axis='columns').reset_index()

In [148]:
df.iloc[0].to_dict()

{'artist': '"Groove" Holmes',
 'title': 'Misty',
 'date': '1966-06-25',
 'peakPos': 100,
 'weeks': 11}

In [119]:
from collections import defaultdict

In [124]:
records = defaultdict(dict)
for art_title in dd['date']:
    records[art_title]['artist_title'] = art_title
for col in dd:
    for art_title in dd[col]:
        records[art_title][col] = dd[col][art_title]

In [128]:
ddd = pd.DataFrame(records.values())

In [77]:
np.sum(df.entries.apply(lambda e: len(e)==99))

13

In [81]:
gb = d.groupby(['artist','title'])

In [130]:
ddd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28550 entries, 0 to 28549
Data columns (total 4 columns):
artist_title    28550 non-null object
date            28550 non-null object
peakPos         28550 non-null int64
weeks           28550 non-null int64
dtypes: int64(2), object(2)
memory usage: 892.3+ KB

In [135]:
dd.reset_index()

,artist,title,date,peakPos,weeks
0,"""Groove"" Holmes",Misty,1966-06-25,100,11
1,"""Groove"" Holmes",What Now My Love,1966-10-01,98,3
2,"""Little"" Jimmy Dickens",May The Bird Of Paradise Fly Up Your Nose,1965-10-16,90,10
3,"""Pookie"" Hudson",I Know I Know,1963-05-25,96,1
4,"""Weird Al"" Yankovic",Amish Paradise,1996-03-30,65,16
5,"""Weird Al"" Yankovic",Canadian Idiot,2006-10-21,82,3
6,"""Weird Al"" Yankovic",Eat It,1984-03-10,59,12
7,"""Weird Al"" Yankovic",Fat,1988-05-21,99,2
8,"""Weird Al"" Yankovic",I Lost On Jeopardy,1984-06-30,83,3
9,"""Weird Al"" Yankovic",King Of Suede,1984-05-05,77,6
10,"""Weird Al"" Yankovic",Like A Surgeon,1985-06-22,74,8
11,"""Weird Al"" Yankovic",Ricky,1983-04-30,90,8
12,"""Weird Al"" Yankovic",Smells Like Nirvana,1992-04-25,95,11
13,"""Weird Al"" Yankovic",White & Nerdy,2006-10-14,28,20
14,"""Weird Al"" Yankovic",Word Crimes,2014-08-02,39,2
15,'N Sync,(God Must Have Spent) A Little More Time On You,1998-12-05,60,22
16,'N Sync,Bye Bye Bye,2000-01-29,42,23
17,'N Sync,Gone,2001-09-22,63,24
18,'N Sync,I Drive Myself Crazy,1999-04-24,92,12
19,'N Sync,I Want You Back,1998-03-07,25,24
20,'N Sync,It's Gonna Be Me,2000-05-06,82,25
21,'N Sync,Pop,2001-06-02,29,15
22,'N Sync,Tearin' Up My Heart,1998-12-05,59,1
23,'N Sync,This I Promise You,2000-09-30,68,26
24,'N Sync & Gloria Estefan,Music Of My Heart,1999-09-04,66,20
25,'N Sync Featuring Nelly,Girlfriend,2002-02-09,70,20
26,'Til Tuesday,(Believed You Were) Lucky,1989-01-21,98,3
27,'Til Tuesday,Coming Up Close,1987-01-10,90,10
28,'Til Tuesday,Looking Over My Shoulder,1985-08-24,78,5
29,'Til Tuesday,Voices Carry,1985-04-13,81,21
...,...,...,...,...,...
28520,k.d. lang,Hallelujah (Vancouver Winter 2010 Version),2010-03-06,61,1
28521,lovelytheband,Broken,2018-07-28,84,22
28522,matchbox 20,Back 2 Good,1998-12-26,85,28
28523,matchbox 20,Real World,1998-12-05,38,2
28524,matchbox twenty,Bent,2000-04-29,60,39
28525,matchbox twenty,Bright Lights,2003-09-27,73,21
28526,matchbox twenty,Disease,2002-10-19,71,20
28527,matchbox twenty,How Far We've Come,2007-09-15,93,22
28528,matchbox twenty,If You're Gone,2000-10-21,52,42
28529,matchbox twenty,Mad Season,2001-05-05,68,20
28530,matchbox twenty,She's So Mean,2012-06-30,91,17
28531,matchbox twenty,Unwell,2003-03-22,59,54
28532,t.A.T.u.,All The Things She Said,2003-01-04,85,20
28533,twenty one pilots,Cancer,2016-10-08,91,1
28534,twenty one pilots,Fairly Local,2015-04-04,84,1
28535,twenty one pilots,Heathens,2016-07-09,14,39
28536,twenty one pilots,Jumpsuit,2018-07-21,60,4
28537,twenty one pilots,My Blood,2018-10-20,81,1
28538,twenty one pilots,Nico And The Niners,2018-07-28,79,2
28539,twenty one pilots,Ride,2016-04-02,96,39
28540,twenty one pilots,Stressed Out,2015-05-16,87,52
28541,twenty one pilots,Tear In My Heart,2015-04-25,82,8
28542,will.i.am,I Got It From My Mama,2007-08-25,93,9
28543,will.i.am,It's A New Day,2008-11-22,78,2
28544,will.i.am & Britney Spears,Scream & Shout,2012-12-15,12,24
28545,will.i.am & Nicki Minaj,Check It Out,2010-09-25,78,15
28546,will.i.am Featuring Justin Bieber,#thatPOWER,2013-04-06,42,16
28547,will.i.am Featuring Mick Jagger & Jennifer Lopez,T.H.E (The Hardest Ever),2011-12-10,36,8
28548,will.i.am Featuring Miley Cyrus,Fall Down,2013-05-04,58,1
28549,"will.i.am Featuring Miley Cyrus, French Montan...",Feelin' Myself,2014-04-26,96,2

In [137]:
'2009'>'2008-10'

True

In [140]:
np.sum(dd['date']>'2000')

7939

In [149]:
dd.shape

(28550, 3)

In [153]:
dates = {i['_id'] for i in collection.find({'_id':{'$exists':'true'}}, {'_id':'true'})}

In [154]:
dates

{'2000-05-20',
 '2006-11-11',
 '1983-08-06',
 '2007-01-20',
 '1962-11-03',
 '2007-11-24',
 '1988-10-08',
 '1960-05-02',
 '1996-07-20',
 '1995-09-09',
 '1962-09-01',
 '1991-03-30',
 '2014-01-25',
 '1963-04-13',
 '1992-11-14',
 '1969-07-19',
 '1966-06-18',
 '1969-12-20',
 '1971-01-16',
 '1986-03-15',
 '1982-04-24',
 '1980-07-19',
 '1992-06-20',
 '2019-10-19',
 '1989-07-08',
 '1976-10-23',
 '2004-09-18',
 '2014-10-18',
 '1988-12-03',
 '1963-08-17',
 '1966-12-17',
 '2009-09-12',
 '2015-03-07',
 '2015-10-31',
 '1975-09-13',
 '2009-08-15',
 '1984-01-14',
 '1998-04-11',
 '1960-08-22',
 '2018-10-27',
 '2000-09-02',
 '1971-04-24',
 '2006-03-04',
 '1980-08-09',
 '1970-04-04',
 '2001-12-08',
 '1983-06-04',
 '2004-06-26',
 '2019-06-29',
 '1959-04-27',
 '1964-03-28',
 '1998-10-24',
 '1977-04-16',
 '1980-02-02',
 '1971-11-06',
 '1978-09-02',
 '1975-09-06',
 '2009-08-01',
 '2010-10-23',
 '1982-01-30',
 '1994-12-17',
 '2000-04-08',
 '1993-05-22',
 '1961-08-28',
 '1966-11-19',
 '1990-12-01',
 '2015-05-23',
 '2010-10-09',
 '1989-10-07',
 '1976-01-17',
 '1982-10-23',
 '2005-05-07',
 '1973-01-06',
 '1960-11-07',
 '1958-12-01',
 '1983-04-16',
 '2015-10-17',
 '1975-01-11',
 '1980-04-26',
 '2009-10-17',
 '1993-05-08',
 '1980-08-16',
 '1979-12-29',
 '2018-04-21',
 '1981-09-26',
 '1959-08-17',
 '1971-07-17',
 '1974-05-25',
 '2003-01-11',
 '2002-03-09',
 '2008-12-27',
 '1969-08-23',
 '1959-07-13',
 '1976-10-09',
 '1967-06-17',
 '2013-03-02',
 '1972-08-12',
 '2018-07-07',
 '1984-08-18',
 '1997-05-10',
 '1965-04-24',
 '1960-08-01',
 '1973-06-02',
 '1975-09-27',
 '2001-09-29',
 '1981-12-05',
 '2005-10-01',
 '2008-03-29',
 '1963-04-06',
 '1987-04-04',
 '2000-12-09',
 '1967-06-03',
 '1998-07-04',
 '2010-04-17',
 '1998-09-05',
 '2004-07-10',
 '1965-10-30',
 '1992-07-18',
 '2008-05-31',
 '2012-07-07',
 '2016-01-23',
 '1994-06-11',
 '1997-05-24',
 '2001-07-21',
 '1994-08-13',
 '2016-02-13',
 '2000-01-01',
 '1977-01-29',
 '1993-06-26',
 '2014-08-16',
 '1971-05-22',
 '1972-04-29',
 '1963-09-14',
 '1970-02-28',
 '1978-07-22',
 '1987-08-29',
 '1968-03-02',
 '2006-02-11',
 '2013-08-10',
 '1983-09-10',
 '1960-11-21',
 '1975-03-15',
 '1986-01-04',
 '1989-12-23',
 '1958-12-15',
 '1998-09-12',
 '1961-01-30',
 '1995-07-29',
 '2010-04-03',
 '1966-04-16',
 '1978-10-28',
 '1995-02-25',
 '1988-07-02',
 '1980-11-08',
 '2014-01-11',
 '1964-08-08',
 '2016-09-10',
 '1961-10-09',
 '1975-05-17',
 '1981-01-24',
 '2009-09-05',
 '1969-04-19',
 '1995-04-22',
 '2012-11-10',
 '1971-02-20',
 '1978-08-19',
 '2007-02-03',
 '1979-03-24',
 '1989-09-30',
 '1996-04-13',
 '1983-03-12',
 '2004-12-25',
 '1960-03-28',
 '1993-10-23',
 '2002-11-16',
 '1991-10-19',
 '2010-09-25',
 '2010-01-16',
 '1964-08-29',
 '1982-10-09',
 '2019-11-23',
 '1979-02-17',
 '2004-08-14',
 '1978-02-11',
 '1987-04-18',
 '1991-09-07',
 '2010-06-19',
 '2010-06-05',
 '2002-08-10',
 '2016-02-27',
 '2003-06-14',
 '2010-06-26',
 '2016-04-30',
 '1978-06-10',
 '1971-09-25',
 '1997-05-03',
 '2015-11-21',
 '1990-11-03',
 '1991-11-23',
 '1966-10-01',
 '1974-01-05',
 '2015-01-17',
 '2012-03-24',
 '1962-02-17',
 '1970-01-24',
 '1967-11-18',
 '2003-03-01',
 '1966-05-21',
 '1982-01-09',
 '2000-04-01',
 '1970-09-26',
 '2019-09-14',
 '2014-08-23',
 '2012-03-31',
 '1990-07-07',
 '1961-07-31',
 '2000-04-22',
 '1979-08-11',
 '2012-09-29',
 '2006-03-25',
 '1983-01-22',
 '2012-07-14',
 '1968-08-10',
 '1977-07-02',
 '1971-09-18',
 '1994-10-15',
 '1970-05-02',
 '1988-11-19',
 '1990-09-29',
 '2015-11-14',
 '1980-12-20',
 '1963-11-30',
 '2018-04-14',
 '2013-08-24',
 '1961-06-19',
 '1972-02-12',
 '1978-11-18',
 '2015-09-19',
 '2008-04-26',
 '1972-01-29',
 '1980-07-05',
 '1985-01-12',
 '1968-12-14',
 '1959-05-18',
 '1974-09-21',
 '1979-08-04',
 '1961-08-07',
 '1991-05-18',
 '1992-01-18',
 '1970-04-11',
 '2015-12-05',
 '1979-06-16',
 '2009-01-31',
 '1992-08-01',
 '1963-02-16',
 '1991-06-29',
 '1978-09-30',
 '1998-05-16',
 '1963-01-19',
 '1974-02-23',
 '1972-08-05',
 '2017-10-28',
 '1995-08-12',
 '1966-04-23',
 '1988-10-15',
 '2006-12-02',
 '1962-09-15',
 '1992-02-08',
 '2018-02-24',
 '1988-03-05',
 '1969-10-25',
 '2000-10-28',
 '2009-03-14',
 '1994-12-10',
 '1977-10-08',
 '1999-03-13',
 '1970-11-28',
 '2005-03-19',
 '2008-01-05',
 '2003-10-11',
 '2004-03-13',
 '1983-01-08',
 '1985-07-06',
 '1977-09-17',
 '1997-12-20',
 '1976-05-15',
 '1991-07-20',
 '1982-03-06',
 '1972-01-08',
 '2018-10-13',
 '1983-05-07',
 '1994-03-05',
 '1976-11-20',
 '1980-01-26',
 '1988-01-09',
 '1996-09-14',
 '2014-08-09',
 '2002-06-08',
 '1996-02-24',
 '2009-04-04',
 '2013-08-31',
 '1985-06-22',
 '1970-01-17',
 '2005-04-23',
 '1987-01-31',
 '2005-07-23',
 '2008-11-08',
 '1976-10-30',
 '1994-05-21',
 '2014-08-02',
 '2013-07-06',
 '1962-10-27',
 '1986-08-16',
 '1984-12-01',
 '1961-12-18',
 '2006-09-23',
 '1999-11-20',
 '2002-10-26',
 '1990-08-04',
 '1972-03-11',
 '1999-01-30',
 '1968-11-02',
 '1993-10-30',
 '1986-08-30',
 '1977-04-09',
 '2007-09-29',
 '1981-10-31',
 '1968-02-17',
 '1998-05-30',
 '2019-07-20',
 '1973-02-03',
 '1959-04-20',
 '2000-12-02',
 '1970-06-13',
 '1994-08-06',
 '2005-10-15',
 '1962-11-17',
 '2020-01-25',
 '1976-01-10',
 '1963-12-07',
 '1992-04-18',
 '2003-07-05',
 '2003-10-18',
 '2014-12-20',
 '1960-12-12',
 '2003-12-27',
 '1983-06-25',
 '2015-08-08',
 '2009-09-26',
 '1984-06-23',
 '1985-02-23',
 '1992-05-23',
 '1976-07-04',
 '2005-07-16',
 '2006-07-22',
 '1994-03-19',
 '1994-05-14',
 '1976-09-11',
 '2013-01-26',
 '2016-02-06',
 '2010-10-30',
 '1999-02-20',
 '2010-11-06',
 '2002-07-20',
 '1974-12-28',
 '1965-09-25',
 '1979-07-07',
 '1978-06-03',
 '1967-11-04',
 '1983-12-31',
 '1964-05-16',
 '2012-09-22',
 '2010-03-27',
 '1987-07-25',
 '2001-01-20',
 '1998-08-15',
 '1996-05-04',
 '1992-10-17',
 '1977-05-14',
 '2002-01-05',
 '2009-03-21',
 '1996-10-12',
 '2017-05-13',
 '1966-04-09',
 '2001-12-15',
 '1969-10-18',
 '2003-08-09',
 '2008-08-16',
 '1965-04-17',
 '2008-11-15',
 '1984-12-22',
 '1996-09-28',
 '1981-09-12',
 '2011-03-19',
 '1976-06-19',
 '2001-10-27',
 '1992-03-14',
 '1993-07-17',
 '1988-07-30',
 '1970-07-11',
 '2012-04-07',
 '2017-08-12',
 '1996-06-29',
 '2001-07-07',
 '1972-11-18',
 '2003-12-20',
 '1991-07-13',
 '1967-07-01',
 '2001-05-19',
 '1959-06-01',
 '1965-12-11',
 '1993-03-20',
 '1984-06-02',
 '1984-07-07',
 '2006-04-15',
 '2008-09-27',
 '2007-12-22',
 '1960-04-18',
 '2006-09-09',
 '1972-04-15',
 '2001-05-05',
 '1962-06-02',
 '2004-04-17',
 '2009-02-14',
 '2011-04-02',
 '1984-06-09',
 '1980-12-27',
 '1966-10-29',
 '2002-12-14',
 '1987-10-10',
 '1991-12-21',
 '1997-02-01',
 '1994-06-18',
 '2004-05-22',
 '1964-09-12',
 '2001-06-23',
 '1984-09-08',
 '2018-07-14',
 '1996-12-07',
 '2011-09-03',
 '1985-06-29',
 '1963-06-01',
 '1996-12-14',
 '2008-10-11',
 '2006-04-01',
 '2019-01-05',
 '2012-07-28',
 '1996-11-30',
 '1972-12-09',
 '2007-08-04',
 '1991-04-20',
 '1978-04-01',
 '2015-07-11',
 '2009-01-03',
 '2018-01-03',
 '1977-03-26',
 '1989-09-02',
 '1959-02-16',
 '1978-12-02',
 '1991-08-17',
 '2011-01-29',
 '1982-06-26',
 '1993-09-18',
 '1983-08-20',
 '1993-11-27',
 '1982-04-10',
 '1986-07-05',
 '1972-10-07',
 '1995-06-03',
 '2012-10-27',
 '1979-12-01',
 '1990-11-10',
 '2010-10-16',
 '1969-09-27',
 '1989-03-25',
 '1977-04-30',
 '2005-05-21',
 '2003-06-28',
 '2013-06-08',
 '2014-06-14',
 '1996-06-15',
 '2013-11-02',
 '1992-07-04',
 '1992-04-04',
 '1982-12-04',
 '1964-04-18',
 '1992-04-11',
 '1997-11-08',
 '1959-09-21',
 '1979-11-03',
 '2011-08-06',
 '1999-05-15',
 '1999-10-02',
 '2016-11-05',
 '2013-11-09',
 '1972-01-22',
 '1966-03-05',
 '1964-10-31',
 '1976-06-26',
 '2017-07-29',
 '1985-07-20',
 '1978-09-09',
 '1986-05-10',
 '2003-03-22',
 '1983-03-26',
 '2010-01-30',
 '1989-04-01',
 '1986-03-01',
 '1965-07-31',
 '1965-06-05',
 '1978-02-18',
 '1972-09-02',
 '1972-03-18',
 '1991-12-07',
 '1973-04-07',
 '2003-08-30',
 '1969-05-17',
 '2016-12-17',
 '2017-09-16',
 '2018-04-28',
 '2001-02-10',
 '2000-09-30',
 '2010-06-12',
 '2000-06-10',
 '2001-01-27',
 '1976-01-24',
 '1995-01-28',
 '2009-08-22',
 '1973-12-15',
 '2008-05-17',
 '2000-08-05',
 '1993-01-23',
 '2011-11-19',
 '1960-02-15',
 '1974-10-05',
 '2005-08-27',
 '1970-10-10',
 '1995-05-27',
 '1985-12-07',
 '1961-09-11',
 '1972-06-03',
 '1988-08-27',
 '1999-06-19',
 '2006-10-14',
 '1979-04-14',
 '2018-08-04',
 '1996-08-24',
 '2019-09-07',
 '1993-07-31',
 '1961-05-29',
 '1980-08-02',
 '2018-11-10',
 '1961-11-20',
 '2000-12-23',
 '2010-02-06',
 '1990-03-17',
 '2002-08-17',
 '1975-04-19',
 '2011-09-24',
 '2018-04-07',
 '1983-06-11',
 '1977-10-29',
 '1965-01-23',
 '1969-01-18',
 '1986-09-06',
 '2018-08-18',
 '2009-12-19',
 '1995-04-08',
 '2003-02-08',
 '2008-07-12',
 '1999-05-01',
 '1975-08-02',
 '1975-12-06',
 '1977-08-13',
 '1970-12-26',
 '1961-05-08',
 '1967-01-28',
 '2016-05-14',
 '1990-09-01',
 '2008-08-23',
 '1964-03-21',
 '1974-03-23',
 '1978-01-28',
 '2019-05-18',
 '2002-09-14',
 '1961-12-04',
 '2008-11-29',
 '1960-07-18',
 '1990-07-14',
 '1963-02-23',
 '1973-11-17',
 '1990-05-12',
 '1969-09-13',
 '2015-05-09',
 '1963-11-02',
 '1969-01-11',
 '1971-05-01',
 '1979-09-01',
 '2018-06-30',
 '1967-04-22',
 '2018-05-05',
 '1974-07-27',
 '2002-03-02',
 '1988-06-04',
 '1997-04-19',
 '1983-05-28',
 '1971-12-18',
 '1978-08-26',
 '2004-05-29',
 '2015-08-29',
 '1962-08-18',
 '1973-08-18',
 '1986-05-17',
 '1998-01-31',
 '1997-09-13',
 '1965-08-21',
 '2018-05-26',
 '1965-08-14',
 '2014-09-13',
 '1958-09-22',
 '2014-04-26',
 '1996-06-22',
 '2019-11-16',
 '1995-06-10',
 '1994-02-26',
 '1997-02-15',
 '2011-04-16',
 '1981-07-25',
 '1996-06-08',
 '1968-08-31',
 '1984-04-07',
 '1960-11-28',
 '2005-09-17',
 '1966-12-10',
 '1973-10-27',
 '1965-12-25',
 '2018-07-28',
 '1967-08-26',
 '1979-06-02',
 '1970-03-21',
 '1985-02-02',
 '2015-03-28',
 '2019-11-02',
 '1976-12-18',
 '1982-11-27',
 '2018-11-24',
 '1994-04-23',
 '2016-09-17',
 '1961-01-02',
 '2012-09-08',
 '2015-05-16',
 '1974-07-13',
 '1968-10-26',
 '1959-07-06',
 '1967-05-13',
 '1984-07-21',
 '2014-03-01',
 '2000-01-08',
 '1987-01-24',
 '2003-06-07',
 '2004-02-28',
 '2001-08-11',
 '1972-07-08',
 '1963-09-28',
 '1991-10-26',
 '2012-05-19',
 '1964-08-22',
 '1984-11-24',
 '1979-09-15',
 '1979-06-30',
 '1981-03-07',
 '2007-08-11',
 '2019-03-02',
 '1985-12-14',
 '1978-03-04',
 '1981-06-20',
 '1964-05-09',
 '1960-07-11',
 '1977-11-26',
 '1969-08-30',
 '2005-04-09',
 '1978-03-18',
 '1963-10-26',
 '2015-07-18',
 '1986-11-08',
 '1999-12-04',
 '2016-04-02',
 '1974-04-06',
 '1959-10-05',
 '2011-10-08',
 '1965-03-20',
 '2016-04-09',
 '1998-02-07',
 '1976-08-07',
 '1967-03-11',
 '1986-12-06',
 '1975-01-18',
 '1996-01-27',
 '1978-11-04',
 '1990-12-29',
 '1961-07-17',
 '1981-04-18',
 '2006-12-09',
 '2002-02-16',
 '1974-10-12',
 '1976-12-04',
 '1978-02-04',
 '2010-07-17',
 '1983-09-17',
 '2013-11-30',
 '1996-11-09',
 '1985-05-25',
 '1965-06-19',
 '1958-11-10',
 '1965-05-29',
 '1983-10-22',
 '1978-04-29',
 '1992-07-11',
 '1983-07-02',
 '1968-10-05',
 '2006-04-29',
 '2002-02-23',
 '1993-06-05',
 '1973-01-20',
 '1984-03-31',
 '1961-03-20',
 '2015-08-22',
 '1975-08-23',
 '1992-10-10',
 '2001-02-17',
 '1965-09-11',
 '1973-07-07',
 '1986-11-29',
 '1964-12-12',
 '1980-03-15',
 '2002-06-01',
 '1980-02-23',
 '1999-01-09',
 '1974-02-02',
 '1966-06-25',
 '1997-12-13',
 '1962-06-16',
 '2008-04-12',
 '1998-05-02',
 '1988-02-27',
 '1975-03-29',
 '1963-03-30',
 '1972-01-01',
 '1977-08-20',
 '2009-01-10',
 '1968-12-28',
 '1982-01-02',
 '1994-07-30',
 '1989-09-16',
 '1971-03-20',
 '2016-01-30',
 '1961-05-22',
 '1984-10-20',
 '1996-12-28',
 '2000-10-14',
 '1979-01-13',
 '2016-01-02',
 '1987-02-21',
 '2003-06-21',
 '1990-02-17',
 '2013-07-20',
 '2019-01-12',
 '1966-09-03',
 '1974-09-14',
 '1991-01-12',
 '1980-01-05',
 '2005-12-31',
 '2000-09-23',
 '1991-03-16',
 '1981-11-07',
 '1975-12-20',
 '2007-07-07',
 '2013-11-16',
 '1992-12-26',
 '1966-09-10',
 '1978-10-21',
 '1967-12-02',
 '1990-04-21',
 '1971-05-15',
 '1964-09-05',
 '2015-09-05',
 '1996-02-03',
 '1998-12-19',
 '2011-07-23',
 '1968-12-07',
 '1981-03-21',
 '1968-05-25',
 '2020-01-11',
 '1971-12-25',
 '1968-09-28',
 '2005-02-12',
 '1971-10-23',
 '1960-02-29',
 '1982-11-13',
 '2004-10-30',
 '1985-04-20',
 '2007-06-30',
 '1982-10-02',
 '2011-07-02',
 '1978-05-06',
 '1995-04-15',
 '2007-10-20',
 '2001-09-08',
 '1991-04-27',
 '1970-03-07',
 '1990-02-03',
 '2012-06-09',
 '2013-09-14',
 '1959-08-10',
 '1984-03-03',
 '1989-03-18',
 '2019-12-07',
 '1977-07-23',
 '1982-10-16',
 '1981-05-30',
 '1975-08-30',
 '1982-05-29',
 '1983-02-12',
 '1986-03-08',
 '1989-02-11',
 '1982-11-06',
 '1989-02-18',
 '1959-04-13',
 '1989-04-29',
 '1983-08-27',
 '2001-09-15',
 '1971-11-27',
 '1963-04-27',
 '1980-01-19',
 '2014-02-08',
 '2013-10-05',
 '1982-05-08',
 '2009-06-13',
 '1961-01-16',
 '1986-11-22',
 '1986-04-12',
 '1984-09-15',
 '1987-10-03',
 '1966-07-09',
 '1960-12-05',
 '1994-07-23',
 '1958-08-25',
 '1965-07-24',
 '1989-11-25',
 '1983-10-29',
 '1963-11-09',
 '2006-02-04',
 '1981-08-22',
 '2008-07-05',
 '1979-02-24',
 '2015-11-07',
 '1973-01-27',
 '2018-01-20',
 '2009-10-31',
 '2003-05-17',
 '1961-10-30',
 '1978-12-16',
 '1985-11-16',
 '2000-02-05',
 '1968-05-11',
 '1968-11-30',
 '1972-03-04',
 '1999-03-20',
 '2011-06-04',
 '2011-02-05',
 '2016-04-23',
 '1967-02-18',
 '2005-11-19',
 '2016-03-05',
 '1986-10-18',
 '1976-08-28',
 '1985-12-21',
 '1969-03-01',
 '2013-03-09',
 '1961-10-02',
 '1981-05-16',
 '1980-09-27',
 '2009-05-16',
 '1970-06-27',
 '1967-07-08',
 '1968-06-01',
 '1983-01-29',
 '2018-01-06',
 '2017-05-06',
 '1976-03-13',
 '1967-05-06',
 '1989-08-05',
 '2007-01-27',
 '1990-01-13',
 '1962-11-10',
 '1967-09-09',
 '1982-07-24',
 '1994-10-01',
 '1981-06-06',
 '1990-12-15',
 '1989-01-21',
 '2001-11-10',
 '1976-09-18',
 '1972-10-14',
 '1991-07-06',
 '2010-08-28',
 '1991-03-02',
 '1999-04-17',
 '2015-04-11',
 '1987-05-23',
 '1964-09-26',
 '2006-02-18',
 '1966-12-31',
 '2010-01-23',
 '2011-06-18',
 '1964-10-03',
 '2011-07-16',
 '1981-02-28',
 '1969-11-29',
 '1966-03-12',
 '1964-10-10',
 '1990-01-06',
 '1995-12-09',
 '1990-06-30',
 '2014-12-13',
 '1962-12-22',
 '1982-06-19',
 '1960-02-08',
 '1986-11-15',
 '1974-01-12',
 '1975-05-24',
 '2005-12-03',
 '1983-12-17',
 '2016-11-19',
 '1968-04-06',
 '1974-11-30',
 '1984-04-21',
 '1986-05-24',
 '2005-11-26',
 '1991-09-21',
 '1989-12-02',
 '1984-02-11',
 '1962-07-21',
 '1999-01-02',
 '2008-06-07',
 '1962-10-20',
 '2013-01-19',
 '2002-11-30',
 '1959-09-07',
 '1985-08-31',
 '1986-01-25',
 '2005-08-20',
 '1988-10-01',
 '1975-12-13',
 '2006-03-18',
 '1974-04-27',
 '2007-05-19',
 '2010-03-06',
 '2019-10-12',
 '2015-07-04',
 '2019-04-13',
 '1992-07-25',
 '1967-01-14',
 '1992-01-11',
 '2006-12-30',
 '1985-10-12',
 '1977-02-05',
 '2013-06-15',
 '2013-09-07',
 '1976-11-13',
 '1996-05-11',
 '1960-06-13',
 '2016-10-08',
 '1999-06-12',
 '1967-10-28',
 '1958-09-01',
 '1987-02-28',
 '1960-04-04',
 '1970-11-21',
 '2010-08-07',
 '1971-11-13',
 '1977-08-27',
 '2016-05-21',
 '2017-10-07',
 '2011-02-19',
 '2019-03-16',
 '1997-08-02',
 '1975-07-12',
 '1996-03-23',
 '2012-06-30',
 '2007-07-21',
 '1986-12-20',
 '1960-10-03',
 '1969-11-01',
 '1964-10-17',
 '1964-06-20',
 '1964-01-25',
 '1983-07-23',
 '1975-07-26',
 '1995-03-04',
 ...}